@model Category
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-outline-success"> save</button>
        <a asp-action="Index" asp-controller="Category" class="btn btn-outline-info"> back</a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}