@model Item
@{
    ViewData["Title"] = "New";
}

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Add New Item</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />

        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList"></select>
        </div>
        <div>
            <input type="file" asp-for="clientFile" onchange="loadFile(event)" />
            <img id="img" height="200" />
        </div>
        <button type="submit" class="btn btn-primary btn-outline-success"> save</button>
        <a asp-action="Index" asp-controller="Items" class="btn btn-outline-info"> back</a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        var loadFile = function(event)
        {
            var reader = new FileReader();
            reader.onload=function()
            {
                var img = document.getElementById('img');
                img.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}